/*bins.css*/

/* Стили для меток лунок (bin labels) */
.bin-label {
  position: absolute; /* Оставляем, поскольку это для внутренних элементов */
  transform: translate(-50%, -50%);
  color: black;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  z-index: 1000;
  pointer-events: none;
}

/* Стили для номеров лунок (bin numbers) */
.bin-number {
  position: absolute; /* Оставляем, поскольку это для внутренних элементов */
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  min-width: 20px;
  z-index: 1000;
  pointer-events: none;
}
/* Обновляем стили для контейнера корзин */
.bins-container {
  width: 80%;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
  overflow: visible;
  position: relative; /* Добавляем позиционирование для margin-top */
}

@media (max-width: 600px) {
  .bins-container {
    width: 100%;
  }
}

/* Индивидуальная корзина */
.bin {
  position: relative;
  height: 30px;
  flex: 1;
  margin: 0 1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px; */
  transition: all 0.3s ease;
}

/* Стиль для крайних корзин (первая и последняя) */
.bin:first-child,
.bin:last-child {
  /* flex: 2.2; Двойная ширина для крайних корзин */
  flex: 1;
}

.bin-label-new {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;

  position: relative;
  top: 5px;
  text-shadow: 0px 1px 0 #000, 1px 2px 0 #000, 0px 1px 0 #000, 0px 0px 0 #000;
}

.bin-flash {
  background-color: #ffffff !important;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 767px) {
  .bin-number {
    font-size: 12px;
  }

  .bin-label-new {
    font-size: 12px;
  }
}
@media (max-height: 500px) {
  .bin-number {
    font-size: 12px;
  }

  .bin-label-new {
    font-size: 11px;
  }
}

/* Анимация появления корзин */
.bin-slide-from-left {
  transform: translateX(-100vw);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bin-slide-from-left--1 {
  background-image: url("/assets/images/hole1.webp");
}
.bin-slide-from-left--2 {
  background-image: url("/assets/images/hole2.webp");
}
.bin-slide-from-left--3 {
  background-image: url("/assets/images/hole3.webp");
}
.bin-slide-from-left--4 {
  background-image: url("/assets/images/hole4.webp");
}
.bin-scale-center {
  background-image: url("/assets/images/hole5.webp");
}
.bin-slide-from-right--6 {
  background-image: url("/assets/images/hole4.webp");
}
.bin-slide-from-right--7 {
  background-image: url("/assets/images/hole3.webp");
}
.bin-slide-from-right--8 {
  background-image: url("/assets/images/hole2.webp");
}
.bin-slide-from-right--9 {
  background-image: url("/assets/images/hole1.webp");
}

.bin-slide-from-right {
  transform: translateX(100vw);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bin-scale-center {
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bin-slide-animate {
  transform: translateX(0) !important;
}

.bin-scale-animate {
  transform: scale(1) !important;
}
